.categories h1 {
  color: #131313;
  text-align: center;
}
.categories {
  margin: 0 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.cards {
  color: #131313;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}
.cards:hover {
  color: #131313;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 166, 0, 0.5);
}
.catName {
  font-size: 1.5rem;
  /* padding: 1em; */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1280px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}