.scheduleContainer {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}
.scheduleWrapper {
  border: 1px solid lightgrey;
  margin: 0.5em 0;
}
.scheduleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
.scheduleText {
  text-align: center;
}
.scheduleImg img {
  width: 7em;
} 

@media only screen and (min-device-width : 768px) {
  .scheduleContainer {
    margin: 1em;
  }
  .scheduleBox {
    flex-direction: row;
  }
  .scheduleText {
    text-align: left;
    padding-left: 1em;
  }
}
@media only screen  and (min-width : 1280px) {
  .scheduleContainer {
    margin: 1em 3em;
  }
  .scheduleWrapper {
    margin: 0.5em 0;
  }
  .scheduleText {
    padding: 0.5em;
  }
  .scheduleImg img {
    width: 9em;
  }
}