.programsContainer h1 {
  text-align: center;
}
.programsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}
.cards {
  box-shadow: 0 2px 8px 0 #0000001c;
  margin: 2em auto;
  width: 90%;
}
.programsBox img {
  width: 100%;
}
.programText {
  padding: 0.5em;
}
.programText h3 {
  margin: 0;
}

@media only screen and (min-device-width : 768px) {
  .programsWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 3em;
  }
}
@media only screen  and (min-width : 1280px) {
  .programsWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 6em;
  }
  .cards {
    cursor: pointer;
    width: 90%;
    transition: 0.2s;
  }
  .cards:hover {
    border: 0.5px solid #131313;
  }
}